/* 전체 틀 */
.gantt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* 전체 너비를 100%로 설정 */
    margin: 0; /* 불필요한 여백 제거 */
    overflow-x: auto; /* 가로 스크롤 가능하게 설정 */
    overflow-y: hidden;
}

/* 헤더 - 날짜 범위, 월, 일자 표시 */
.gantt-header {
    display: flex;
    flex-direction: column; /* 세로로 정렬하여 각 섹션 배치 */
    width: 100%;
    padding-bottom: 5px; /* 아래쪽에 패딩 추가 */
    box-sizing: border-box;
    min-height: 90px; /* 최소 높이를 설정하여 내부 요소들이 모두 보이도록 함 */
}

/* 날짜 범위 이동 버튼 */
.gantt-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

/* 월 표시 */
.gantt-header-month {
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

/* 날짜 표시 칸 */
.gantt-header-days {
    display: flex;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    width: 100%; /* 차트 너비 100%로 설정 */
    margin: 0; /* 상하 마진 제거 */
    padding-top: 5px; /* 날짜 텍스트의 위쪽 여백을 확보 */
    border-bottom: 1px solid #ddd; /* 헤더의 하단 경계선 추가 */
}

/* 각 날짜 칸 스타일 */
.gantt-day {
    text-align: center;
    border-right: 1px solid #ddd; /* 칸 간의 경계선 */
    background-color: white;
    padding: 5px 0; /* 날짜 간격 조정을 위한 패딩 추가 */
    box-sizing: border-box;
    width: calc(100% / 31); /* 각 날짜 칸 너비를 정확히 31등분 */
}


/* Plan 막대 */
.gantt-task {
    display: flex;
    align-items: center;
    justify-content: center; /* 중앙 정렬 */
    height: 50px;
    background-color: rgba(140, 187, 242, 0.8);
    opacity: 0.3;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin: 0; /* 불필요한 마진 제거 */
    box-sizing: border-box;
}

/* Task 제목 */
.gantt-task-title {
    color: black;
    font-weight: bold;
}

/* Do 표시 */
.gantt-do {
    position: absolute;
    top: 5px; /* `gantt-day` 바로 아래로 위치 */
    height: 50px;
    width: calc(100% / 31); /* 날짜 칸과 같은 너비 */
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin-top: -5px;
}
