/* 전체 틀 */
.gantt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: calc(100% - 20px); /* TaskList와의 여백을 위해 너비 조정 */
    height: auto;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤이 생기도록 */
}

/* 날짜 표시 칸 */
.gantt-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

.gantt-day {
    width: 30px; /* 각 날짜 칸 너비 */
    flex-shrink: 0;
    text-align: center;
    border-right: 1px solid #ddd;
    background-color: white; /* 경계 문제 해결을 위한 배경색 */
    padding: 5px;
}

.gantt-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 각 Task의 Plan 영역 */
.gantt-task-row {
    position: relative;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

/* Plan 막대 */
.gantt-task {
    display: flex;
    align-items: center;
    width: auto;
    height: 30px; /* plan과 do의 높이를 일치 */
    background-color: rgba(140, 187, 242, 0.8);
    opacity: 0.3; /* 50% 투명 */
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    flex-shrink: 0;
}

/* Do 표시 */
.gantt-do {
    position: absolute;
    top: 0;
    left: 0; /* Plan과 동일한 위치에서 시작 */
    height: 30px; /* 높이를 plan과 동일하게 설정 */
    width: 37px; /* 날짜 칸 하나에 맞춤 */
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    flex-shrink: 0;
}

/* 김도연의 Plan */
.first {
    background-color: red;
    opacity: 0.3;
}

/* 김도연의 Do 표시 */
.first-do {
    background-color: red;
}

/* 김성재의 Plan */
.second {
    background-color: green;
    opacity: 0.3;
}

/* 김성재의 Do 표시 */
.second-do {
    background-color: green;
}

/* 김수현의 Plan */
.third {
    background-color: rebeccapurple;
    opacity: 0.3;
}

/* 김수현의 Do 표시 */
.third-do {
    background-color: rebeccapurple;
}

/* 허준기의 Plan */
.fourth {
    background-color: rgba(255, 204, 0);
    opacity: 0.3;
}

/* 허준기 Do 표시 */
.fourth-do {
    background-color: rgba(255, 204, 0);
}
